@charset "utf-8";
/*----Table-----*/

table.app_table {
	border-collapse: collapse;
	font-size:18px;
	border-spacing: 0px;
	width: 100%;
	border: 1px solid #E0E0E0;
	margin-top:25px;
	margin-bottom:25px;
	
	padding:14px 14px;
	
	
}
table.app_table input[type="text"], input[type="password"]{
	width:300px;
	height:25px;
	font-size:18px;
	letter-spacing:1px;
	}
table.app_table select{
	width:300px;
	font-size:16px;
	height:27px;
	
}
table.app_table textarea{
	width:300px;
	height:100px;
}

table.app_table input[type='radio'] {
  -webkit-appearance:none;
  width:20px;
  height:20px;
  border:1px solid darkgray;
  border-radius:50%;
  outline:none;
  box-shadow:0 0 5px 0px gray inset;
}

table.app_table input[type='radio']:hover {
  box-shadow:0 0 5px 0px orange inset;
}

table.app_table input[type='radio']:before {
  content:'';
  display:block;
  width:60%;
  height:60%;
  margin: 20% auto;    
  border-radius:50%;    
}
table.app_table input[type='radio']:checked:before {
  background:green;
}

table.app_table input[type="radio"]:checked + label {
	
	font-size:16px;
	font-weight:bold;
	margin-top:-24px;
	padding:12px;
}
table.app_table input[type="radio"] + label {
	
	font-size:16px;
	font-weight:bold;
	
	margin-top:-24px;
	padding:12px;
}



table.app_table input[type="submit"], input[type="reset"]{
	text-align:center;
	border:#3498db;
	font-family: sans-serif;
	font-size: 16px;;
	color: #FFF;
	background: #3498db;
	padding: 6px 8px;
	display: inline-block;
	margin: 10px 0;
	
	
	}
	
.links{
	color:#e21737;

}
.links:hover{
	text-shadow:#006;
	color:#0b648f;
	border-top: 4px solid #e21737;
	text-decoration:none;

}	

	
	
table.app_table input[type="submit"], input[type="reset"]:hover{
	background:#3498db;
	
}
/*
table.app_table th {
	height: 25px;
	background: url(../image/table_header_bg.jpg) repeat-x;
	color: #FFFFFF;
	white-space: nowrap;
}*/
th { 
	height: 30px;
	font-weight:bold;
	background: #0b648f;
	color:#FFF;
    white-space:nowrap;
	font-size:17px;
	padding-bottom:12px;
	padding-top:12px;
	 }
.odd_row{background-color: #EEE;}
.eve_row{background-color: #FFF;}

/*
th { background-color: #999;}
.odd_row { background-color: #EEE; }
.even_row { background-color: #FFF; }
*/
td{
	padding-bottom:12px;
	padding-top:12px;
	
}



/*----------*/

table.app_table th .app_sort_asc_icon {
	background: url(../image/sort_asc.png) top center no-repeat;
	height: 22px;
	line-height: 21px;
	
}

table.app_table th .app_sort_desc_icon {
	background: url(../image/sort_desc.png) top center no-repeat;
	height: 22px;
	line-height: 21px;
}

table.app_table th .app_sort_asc_icon a, table.app_table th .app_sort_desc_icon a, table.app_table th a {
	color: #FFFFFF;
	text-decoration: none;
}

table.app_table th a:hover {
	text-decoration: underline;
}

/*----------*/


table.app_table th ._title {
	height: 20px;
	margin-left: 5px;
	line-height: 20px;
	text-indent: 20px;
	text-align: left;
}

table.app_table td.form {
	background-color:#d6e5f4
	padding: 3px;
	
}

td._label {
	text-align: right;
	padding-right: 8px;
	font-size:16px;
	font-weight:bold;
	
}

td._counter {
	color: #999999;
}

tr.row1 {
	background-color: #F2F2F2;
	
}

tr.row0 {
	background-color: #F7F7F7;
}

tr.row1 td, tr.row0 td {
	border-top: 1px solid #FFFFFF;
	padding: 3px 0px;
}

heading_style{
	margin-top:100px;
	color: #000;
  	font-size: 1.5em;
  	line-height: 1.4em;
    font-family: 'Viga', sans-serif;
	
}
